html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p,
a,
li,
label {
  font-family: "BPG Glaho Bold", sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.c1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 82px;
  padding: 0 3% 0 3%;
}
.c1 a:link {
  color: black;
}
.c1 a:visited {
  color: #0ca296;
}
.c1 a:hover {
  color: #ffc700;
}
.c1 img {
  height: 32px;
}
.c1 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 500px;
  font-weight: 900;
}
.c1 .burgerbar {
  display: none;
}

.c2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/30152526Hv1HRKYI.jpg);
  background-color: #37556d;
  padding: 15%;
  gap: 40px;
}
.c2 .c3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.c2 .c3 :first-child {
  font-size: 100px;
  color: #ffc700;
  font-style: italic;
}
.c2 .c3 :last-child {
  font-size: 80px;
  color: #fff;
}
.c2 a {
  align-self: flex-end;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3%;
  padding-left: 0.2%;
  align-items: center;
  background-image: url(../images/Ellipse\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 58px;
  height: 58px;
}
.group :first-child {
  align-self: flex-end;
}
.group :last-child {
  color: #fff;
  font-size: 25px;
  padding: 20px;
}

.sm {
  width: 100%;
  height: 900px;
  background: linear-gradient(#00beac, rgba(0, 190, 172, 0));
  font-family: "ALK Life", sans-serif;
}
.sm .c4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8%;
}
.sm .c4 :first-child {
  font-size: 50px;
  color: #ffc700;
  font-style: italic;
}
.sm .c4 :nth-child(2) {
  font-size: 80px;
  color: #fff;
}
.sm .c4 :last-child {
  width: 670px;
  font-size: 18px;
  color: #044641;
  text-align: center;
  font-weight: 400;
  line-height: normal;
  padding-top: 2%;
}
.sm .c5 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top: 5%;
}
.sm .c5 div {
  width: 230px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sm .c5 a:link {
  color: white;
}
.sm .c5 a:visited {
  color: white;
}
.sm .c5 .a1 {
  transition: transform 0.4s;
  background-image: url(../images/50.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sm .c5 .a1:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #565656;
}
.sm .c5 .a2 {
  transition: transform 0.4s;
  background-image: url(../images/60.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sm .c5 .a2:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #565656;
}
.sm .c5 .a3 {
  transition: transform 0.4s;
  background-image: url(../images/70.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sm .c5 .a3:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #565656;
}
.sm .c5 .a4 {
  transition: transform 0.4s;
  background-image: url(../images/80.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sm .c5 .a4:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #565656;
}
.sm .c5 p {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sm .c5 .c6 {
  background-image: none;
  height: 40px;
  width: auto;
  background-color: #f9db62;
}
.sm .c5 .c6 :first-child {
  background-image: none;
  border-radius: 20px;
}
.sm .c5 .c7 {
  background-image: none;
  height: 40px;
  width: auto;
  background-color: #1da7bc;
}
.sm .c5 .c7 :first-child {
  background-image: none;
  border-radius: 20px;
}
.sm .c5 .c8 {
  background-image: none;
  height: 40px;
  width: auto;
  background-color: #c7dff5;
}
.sm .c5 .c8 :first-child {
  background-image: none;
  border-radius: 20px;
}
.sm .c5 .c9 {
  background-image: none;
  height: 40px;
  width: auto;
  background-color: #ba414a;
}
.sm .c5 .c9 :first-child {
  background-image: none;
  border-radius: 20px;
}

.topimg {
  width: 100%;
  height: 442px;
  background-size: contain;
  border-radius: 20px;
  background-color: #003531;
  background-image: url(../images/50.jpg);
}
.topimg a:link {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  text-shadow: -6px -3px 0px rgba(0, 0, 0, 0.5);
  font-size: 160px;
  font-weight: 900;
  letter-spacing: -2.4px;
  font-family: "Times New Roman", Times, serif;
}
.topimg a:visited {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  text-shadow: -6px -3px 0px rgba(0, 0, 0, 0.5);
  font-size: 160px;
  font-weight: 900;
  letter-spacing: -2.4px;
  font-family: "Times New Roman", Times, serif;
}

.topimg2 {
  width: 100%;
  height: 442px;
  background-size: contain;
  border-radius: 20px;
  background-color: #003531;
  background-image: url(../images/60.jpg);
}
.topimg2 a:link {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  text-shadow: -6px -3px 0px rgba(0, 0, 0, 0.5);
  font-size: 160px;
  font-weight: 900;
  letter-spacing: -2.4px;
  font-family: "Times New Roman", Times, serif;
}
.topimg2 a:visited {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  text-shadow: -6px -3px 0px rgba(0, 0, 0, 0.5);
  font-size: 160px;
  font-weight: 900;
  letter-spacing: -2.4px;
  font-family: "Times New Roman", Times, serif;
}

.topimg3 {
  width: 100%;
  height: 442px;
  background-size: contain;
  border-radius: 20px;
  background-color: #003531;
  background-image: url(../images/70.jpg);
}
.topimg3 a:link {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  text-shadow: -6px -3px 0px rgba(0, 0, 0, 0.5);
  font-size: 160px;
  font-weight: 900;
  letter-spacing: -2.4px;
  font-family: "Times New Roman", Times, serif;
}
.topimg3 a:visited {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  text-shadow: -6px -3px 0px rgba(0, 0, 0, 0.5);
  font-size: 160px;
  font-weight: 900;
  letter-spacing: -2.4px;
  font-family: "Times New Roman", Times, serif;
}

.topimg4 {
  width: 100%;
  height: 442px;
  background-size: contain;
  border-radius: 20px;
  background-color: #003531;
  background-image: url(../images/80.jpg);
}
.topimg4 a:link {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  text-shadow: -6px -3px 0px rgba(0, 0, 0, 0.5);
  font-size: 160px;
  font-weight: 900;
  letter-spacing: -2.4px;
  font-family: "Times New Roman", Times, serif;
}
.topimg4 a:visited {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  text-shadow: -6px -3px 0px rgba(0, 0, 0, 0.5);
  font-size: 160px;
  font-weight: 900;
  letter-spacing: -2.4px;
  font-family: "Times New Roman", Times, serif;
}

.list1 {
  width: 547px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.list1 li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list1 li a:link {
  color: black;
}
.list1 li a:visited {
  color: #000000;
}
.list1 li:hover img {
  display: block;
}

.list2 {
  width: 547px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
}
.list2 li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list2 li a:link {
  color: black;
}
.list2 li a:visited {
  color: #000000;
}
.list2 li:hover img {
  display: block;
}

.s1950 {
  overflow: hidden;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 2%;
  height: 100%;
}
.s1950 p {
  width: 547px;
  margin: 2% 0% 2% 0%;
  color: #565656;
  font-size: 16px;
  line-height: normal;
}
.s1950 p b {
  color: #00a77f;
}
.s1950 .m1955 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4%;
}
.s1950 .lurja {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.s1950 iframe {
  border-radius: 5px;
  margin-top: 4%;
}
.s1950 .lurja2 {
  align-self: flex-start;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.s1950 .lurja2 .whitebox {
  padding: 2%;
  width: 504px;
  height: 132px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  background: #f5fffe;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.s1950 .lurja2 .whitebox ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  width: 504px;
}
.s1950 .lurja2 .whitebox ul li {
  color: #565656;
}
.s1950 .lurja2 .whitebox .smallbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s1950 .lurja2 .whitebox .smallbox div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s1950 .lurja2 .whitebox .smallbox div li {
  color: #000000;
}
.s1950 .lurja2 .images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-between;
  height: 398px;
}
.s1950 .lurja2 .images img {
  border-radius: 10px;
}
.s1950 .lurja2 .images :first-child {
  width: 504px;
  height: 194px;
  -o-object-fit: cover;
     object-fit: cover;
}
.s1950 .lurja2 .images .img1 {
  width: 504px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.s1950 .lurja2 .images .img1 :first-child,
.s1950 .lurja2 .images .img1 :last-child {
  width: 247px;
  height: 194px;
  -o-object-fit: cover;
     object-fit: cover;
}
.s1950 .lurja2 .images2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 398px;
  width: 504px;
}
.s1950 .lurja2 .images2 img {
  border-radius: 10px;
}
.s1950 .lurja2 .images2 :first-child {
  height: 390px;
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.s1950 .lurja2 .images2 .img2 {
  height: 398px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.s1950 .lurja2 .images2 .img2 :first-child,
.s1950 .lurja2 .images2 .img2 :last-child {
  height: 180px;
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.s1950 .firuzi {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  height: 133px;
  border-radius: 10px;
  background: #00beac;
  margin: auto;
}
.s1950 .firuzi h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
}
.s1950 .firuzi h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.s1950 .firuzi img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.s1950 .firuzi a {
  padding: 1%;
  width: 180px;
  height: 52px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  color: #0ca296;
  text-align: center;
  font-size: 16px;
  line-height: normal;
}

.sec2 .contactdiv {
  padding: 8%;
  width: 100%;
  height: 700px;
  background: linear-gradient(#00beac, rgba(0, 190, 172, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
}
.sec2 .contactdiv h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}
.sec2 .con1 {
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .con1 img {
  width: 6%;
  height: 59%;
}
.sec2 .con3,
.sec2 .con4 {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
.sec2 .con3 img,
.sec2 .con4 img {
  width: 20%;
  height: 88%;
}
.sec2 .col1 {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-between;
}

.sec3 {
  width: auto;
  height: 100%;
  max-height: 100%;
  padding-top: 10%;
  background: linear-gradient(#00beac, rgba(0, 190, 172, 0));
  display: flex;
  justify-content: center;
}
.sec3 .all2 {
  width: 500px;
}
.sec3 .film {
  background-image: url(../images/Untitled\ design.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 480px;
  display: flex;
  justify-content: center;
}
.sec3 .mainfeedback {
  height: 480px;
  width: 300px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec3 form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sec3 .topfeedback {
  padding-bottom: 8%;
  padding-top: 8%;
  font-size: 25px;
  display: block;
  font-family: "BPG Glaho Bold", sans-serif;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
}
.sec3 label {
  padding-bottom: 3%;
  font-size: 14px;
}
.sec3 input {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
  background-color: white;
  border-color: #0CA296;
  border-style: outset;
}
.sec3 button {
  width: 80px;
  height: 35px;
  border-radius: 25px;
  background-color: #f9db62;
  border-color: white;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  margin: 0 auto;
}
.sec3 button:hover {
  cursor: pointer;
}

.greenbox {
  width: 100%;
  height: 300px;
  background-color: #003531;
  margin-top: 4%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.greenbox ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.greenbox li {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 200;
}
.greenbox li img {
  width: 20px;
  height: 20px;
}
.greenbox :first-child {
  color: #d0d0d0;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 20px;
}/*# sourceMappingURL=global.css.map */