p,
a,
li {
  font-family: "BPG Glaho Bold", sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
.c1 {
  @include sb;
  background-color: #fff;
  height: 82px;
  padding: 0 3% 0 3%;
  a:link {
    color: black;
  }
  a:visited {
    color: #0ca296;
  }
  a:hover {
    color: #ffc700;
  }

  img {
    height: 32px;
  }

  ul {
    @include se;
    width: 500px;
    font-weight: 900;
  }
  .burgerbar {
    display: none;
  }
}
.c2 {
  @include sb;
  overflow: hidden;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/30152526Hv1HRKYI.jpg);
  background-color: #37556d;
  padding: 15%;
  gap: 40px;
  .c3 {
    @include cfs;
    gap: 40px;
    :first-child {
      font-size: 100px;
      color: #ffc700;
      font-style: italic;
    }
    :last-child {
      font-size: 80px;
      color: #fff;
    }
  }
  a {
    align-self: flex-end;
  }
}
.group {
  @include sb;
  padding-bottom: 0.3%;
  padding-left: 0.2%;
  align-items: center;
  background-image: url(../images/Ellipse\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 58px;
  height: 58px;
  :first-child {
    align-self: flex-end;
  }
  :last-child {
    color: #fff;
    font-size: 25px;
    padding: 20px;
  }
}

.sm {
  width: 100%;
  height: 900px;
  background: linear-gradient(#00beac, #00beac00);
  font-family: "ALK Life", sans-serif;
  .c4 {
    @include cl;

    padding-top: 8%;
    :first-child {
      font-size: 50px;
      color: #ffc700;
      font-style: italic;
    }
    :nth-child(2) {
      font-size: 80px;
      color: #fff;
    }
    :last-child {
      width: 670px;
      font-size: 18px;
      color: #044641;
      text-align: center;
      font-weight: 400;
      line-height: normal;
      padding-top: 2%;
    }
  }
  .c5 {
    @include se;
    padding-top: 5%;
    div {
      width: 230px;
      height: 350px;
      border-radius: 10px;
      @include cl;
    }
    a:visited {
      color: white;
    }
    a:link {
      color: white;
    }

    .a1 {
      transition: transform 0.4s;
      background-image: url(../images/50.jpg);
      @include bckcenter;
    }
    .a1:hover {
      @include cursor;
    }
  
    .a2 {
      transition: transform 0.4s;
      background-image: url(../images/60.jpg);
      background-position: right;
      @include bckcenter;
    }
    .a2:hover {
      @include cursor;
    }
    .a3 {
      transition: transform 0.4s;
      background-image: url(../images/70.jpg);
      @include bckcenter;
    }
    .a3:hover {
      @include cursor;
    }
    .a4 {
      transition: transform 0.4s;
      background-image: url(../images/80.jpg);
      @include bckcenter;
    }
    .a4:hover {
      @include cursor;
    }
    p {
      font-size: 30px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    .c6 {
      @include year;
      background-color: #f9db62;
    }
    .c7 {
      @include year;
      background-color: #1da7bc;
    }
    .c8 {
      @include year;
      background-color: #c7dff5;
    }
    .c9 {
      @include year;
      background-color: #ba414a;
    }
  }
}
.topimg {
  @include bckim;
  background-image: url(../images/50.jpg);
}
.topimg2 {
  @include bckim;
  background-image: url(../images/60.jpg);
}
.topimg3 {
  @include bckim;
  background-image: url(../images/70.jpg);
  
}
.topimg4 {
 @include bckim;
 background-image: url(../images/80.jpg);
}
.list1 {
  width: 547px;
  height: 35px;
  @include sb;
  padding-top: 2%;
  padding-bottom: 2%;
  li {
    cursor: pointer;
    @include cl;
   
    a:link {
      color: black;
    }
    a:visited {
      color: #000000;
    }
  }
  li:hover {
    img {
      display: block;
    }
  }
}
.list2 {
  width: 547px;
  height: 35px;
  @include sb;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
  li {
    cursor: pointer;
    @include cl;
    a:link {
      color: black;
    }
    a:visited {
      color: #000000;
    }
  }
  li:hover {
    img {
      display: block;
    }
  }
}
.s1950 {
  overflow: hidden;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 2%;
  height: 100%;
  p {
    width: 547px;
    margin: 2% 0% 2% 0%;
    color: #565656;
    font-size: 16px;
    line-height: normal;
    b {
      color: #00a77f;
    }
  }
  .m1955 {
    @include sb;
    padding-bottom: 4%;
  }
  .lurja {
    @include cfs;
  }
  iframe {
    border-radius: 5px;
    margin-top: 4%;
  }
  .lurja2 {
    align-self: flex-start;
    height: 600px;
    @include cl;
    justify-content: space-between;
    .whitebox {
      padding: 2%;
      width: 504px;
      height: 132px;
      border-radius: 10px;
      border: 1px solid #e5e5e5;
      background: #f5fffe;
      @include se;
      ul {
        @include sb;
        justify-content: space-around;
        width: 504px;
        li {
          color: #565656;
        }
      }
      .smallbox {
        @include cl;
        div {
          li {
            color: #000000;
          }
          @include sb;
        }
      }
    }
    .images {
      @include cfs;
      justify-content: space-between;
      height: 398px;
      img {
        border-radius: 10px;
      }
      :first-child {
        width: 504px;
        height: 194px;
        object-fit: cover;
      }
      .img1 {
        width: 504px;
        @include se;
        justify-content: space-around;
        :first-child,
        :last-child {
          width: 247px;
          height: 194px;
          object-fit: cover;
        }
      }
    }
    .images2 {
      @include se; 
      height: 398px;
      width: 504px;
      
      img {
        border-radius: 10px;
      }
      :first-child {
        height: 390px;
        width: 230px;
        object-fit: cover;
      }
      .img2 {
        height: 398px;
        @include cl;
        justify-content: space-around;
        :first-child, :last-child {
          height: 180px;
          width: 230px;
          object-fit: cover;
        }
      }
    }
  }
  .firuzi {
    padding: 2%;
    @include sb;
    width: 1300px;
    height: 133px;
    border-radius: 10px;
    background: #00beac;
    margin: auto;
    h1 {
      color: #fff;
      font-size: 24px;
      font-weight: 900;
      line-height: normal;
    }
    h2 {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
    }
    img {
      width: 120px;
      height: 120px;
      object-fit: contain;
    }
    a {
      padding: 1%;
      width: 180px;
      height: 52px;
      border-radius: 4px;
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      color: #0ca296;
      text-align: center;
      font-size: 16px;
      line-height: normal;
    }
  }
}

.greenbox {
  width: 100%;
  height: 300px;
  background-color: #003531;
  margin-top: 4%;
  @include se;
  justify-content: space-around;
  ul {
    @include cfs;
  }
  li {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 200;

    img {
      width: 20px;
      height: 20px;
    }
  }
  :first-child {
    color: #d0d0d0;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
